<div class="row">
    <h1>Orders</h1>

    <table>
        <tr>
        <th>Pizza</th>
        <th>Quantity</th>
        <th>Price</th>
        </tr>

        {{#each actions}}
        <tr>
            <td>{{Pizza}}</td>
            <td>{{Quantity}}</td>
            <td>{{Price}}</td>
        </tr>
        {{/each}}
    </table>
</div>

